@using DoanLTWeb.Models;
@model IList<Menu>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách Menu</h2>
    </div>

    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Menu" asp-action="Create" style="background-color:#49c1c5">
            <i class="bi bi-file-earmark-text me-1"></i>Thêm Menu</a>
    </p>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">Thứ tự</th>
                                    <th class="col-3 text-center">Tiêu đề</th>
                                    <th class="col-2 text-center">Mức</th>
                                    <th class="col-2 text-center">Menu cha</th>
                                    <th class="col-1 text-center">Thứ tự</th>
                                    <th class="col-1 text-center">Ẩn/hiện</th>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr id="tr_@item.MenuID">
                                        <td class="text-center">@(i++)</td>
                                        <td><a asp-area="Admin" asp-controller="Menu" asp-action="Details"
                                            asp-route-id="@item.MenuID" class="text-primary">@item.MenuName</a></td>
                                        <td class="text-center">@item.Levels</td>
                                        <td class="text-center">@item.ParentID</td>
                                        <td class="text-center">@item.MenuOrder</td>
                                        <td class="text-center">@item.IsActive</td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Menu" asp-action="Edit"
                                            asp-route-id="@item.MenuID" class="btn btn-primary btn-sm"
                                           title="Sửa nội dung bài viết"><i class="bi bi-wrench"></i></a>
                                            <a asp-area="Admin" asp-controller="Menu" asp-action="Delete"
                                            asp-route-id="@item.MenuID" class="btn btn-danger btn-sm"
                                            title="Xóa thông tin bài viết"><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>